<div class="p-grid list-bar">
  <div class="p-col-1 list-bar-hamburger">
    <button pButton type="button" icon="pi pi-home" iconPos="left"></button>
  </div>
  <div class="p-col-10 list-bar-title">Tenant Management</div>
  <div class="p-col-1 list-bar-action">
    <button pButton type="button" icon="pi pi-refresh" iconPos="left"></button>
  </div>
</div>
<div *ngIf="tenant !== null; else notenant" class="p-grid tenant-detail"></div>
<div class="p-grid list-bar">
  <div class="p-col-1 list-bar-hamburger">
    <button pButton type="button" icon="pi pi-home" iconPos="left"></button>
  </div>
  <div class="p-col-10 list-bar-title">Users</div>
  <div class="p-col-1 list-bar-action">
    <button pButton type="button" icon="pi pi-refresh" iconPos="left"></button>
  </div>
</div>
<div class="p-grid tenant-users"></div>
<ng-template #notenant>
  <div class="notenant">
    No tenant found.
  </div>
</ng-template>
