.app-top-bar {
  height: 85px;
  background-color: #616161;

  img {
    height: 70px;
    margin: 10px;
  }
  .top-bar-heading {
    text-align: center;
    .top-bar-title {
      font-size: 32px;
    }
    .top-bar-byline {
      font-size: 16px;
    }
  }
  .get-started {
    margin-top: 25px;
    a {
      padding: 10px 10px 30px 10px;
      height: 20px;
      border-radius: 4px;
      background-color: $primaryLightColor;
      color: $primaryTextColor;
      float: right;
      cursor: pointer;
      margin-right: 25px;
    }
  }
}
