.roles-table-header {
  font-size: 16px;
  padding-left: 15px;
  padding-bottom: 10px;
  background-color: $primaryLightColor;
}
.roles-table-body {
  background-color: #777777;
  &:nth-child(even) {
    background-color: #9e9e9e;
  }
  .roles-row {
    padding: 10px 5px 5px 15px;
  }
}
