<div class="app-container">
  <div class="p-grid app-top-bar">
    <div class="p-col-1"><img src="assets/images/rockonsoft-cat-white.svg" /></div>
    <div class="p-col-9">
      <div class="top-bar-heading">
        <div class="top-bar-title">Monorock Demo!</div>
        <div class="top-bar-byline">
          A deployable monorepo stack from Rockonsoft
        </div>
      </div>
    </div>
    <div class="p-col-2 get-started">
      <a href="https://github.com/rockonsoft/monorock" target="_blank">Get Started</a>
    </div>
  </div>
  <div *ngIf="busy" class="top-progress">
    <p-progressBar mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
  </div>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>
