<div *ngIf="superUser !== null; else nosuperuser" class="superuser-container">
  <div class="p-grid super-user-used">
    <div class="p-col">
      <span>The following section is executed using the superuser account</span>
    </div>
  </div>
  <div class="p-grid assign-roles-header">
    <div class="p-col">
      User
    </div>
    <div class="p-col">
      Role
    </div>
    <div class="p-col">
      Assign
    </div>
  </div>
  <div class="p-grid assign-roles">
    <div *ngIf="otherUser !== null" class="p-col">
      {{ otherUser.display }}
    </div>
    <div *ngIf="otherUser == null" class="p-col">
      Loading user...
    </div>
    <div *ngIf="roles" class="p-col">
      <p-dropdown
        placeholder="Select a role"
        [options]="roles"
        optionLabel="name"
        (onChange)="selectedRoleChanged($event)"
      ></p-dropdown>
    </div>
    <div class="p-col" *ngIf="selectedRole !== null">
      <button pButton type="button" label="Assign Role" class="ui-button-success" (click)="assignRole()"></button>
    </div>
    <div class="p-col" *ngIf="selectedRole === null">
      Select a role
    </div>
  </div>
</div>
<ng-template #nosuperuser>
  <div class="no-user superuser-container">
    Superuser is being signed in...
  </div>
</ng-template>
