<div class="p-grid list-bar">
  <div class="p-col-1 list-bar-hamburger">
    <button pButton type="button" icon="pi pi-home" iconPos="left"></button>
  </div>
  <div class="p-col-10 list-bar-title">Roles & RBAC</div>
  <div class="p-col-1 list-bar-action">
    <button pButton type="button" icon="pi pi-refresh" iconPos="left"></button>
  </div>
</div>
<div *ngIf="superUser !== null; else nosuperuser" class="superuser-container">
  <div class="p-grid super-user-used">
    <div class="p-col">
      <span>The following section is executed using the superuser account</span>
    </div>
  </div>
  <div class="p-grid assign-roles-header">
    <div class="p-col">
      User
    </div>
    <div class="p-col">
      Role
    </div>
    <div class="p-col">
      Assign
    </div>
  </div>
  <div class="p-grid assign-roles">
    <div *ngIf="authUser !== null" class="p-col">
      {{ authUser.display }}
    </div>
    <div *ngIf="authUser == null" class="p-col">
      Loading user...
    </div>
    <div *ngIf="roles && roles.length" class="p-col">
      <p-dropdown
        placeholder="Select a role"
        [options]="roles"
        optionLabel="name"
        (onChange)="selectedRoleChanged($event)"
      ></p-dropdown>
    </div>
    <div class="p-col" *ngIf="selectedRole !== null">
      <button pButton type="button" label="Assign Role" class="ui-button-success" (click)="assignRole()"></button>
    </div>
    <div class="p-col" *ngIf="selectedRole === null">
      Select a role
    </div>
  </div>
</div>

<div *ngIf="authUser !== null" class="roles-container">
  <div class="p-grid">
    <div class="p-col">
      <span>You have the following roles</span>
    </div>
    <div *ngFor="let role of authUser.roles" class="p-col">
      <span>{{ role }}</span>
    </div>
  </div>
  <div>
    <div class="p-grid profile-access-title">
      <div class="p-col feature">Access Profile</div>
    </div>
    <p-table [value]="authUser.accessProfile">
      <ng-template pTemplate="header">
        <tr>
          <th>Model</th>
          <th>Access</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-access>
        <tr>
          <td>{{ access.model }}</td>
          <td>{{ getAccessString(access.access, access.model) }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div *ngIf="authUser !== null" class="test-container">
  <div class="access-test-heading p-grid">
    <div class="p-col">
      <span>Test current user's access</span>
    </div>
  </div>
  <div *ngIf="models !== null">
    <div class="model-select p-grid">
      <div class="p-col">
        <span>To test the user's access, select a model</span>
      </div>
      <div class="p-col">
        <span>Current selected model: {{ selectedModel ? selectedModel.name : 'Not Selected' }}</span>
      </div>
      <div class="p-col">
        <p-dropdown
          placeholder="Select a model"
          [options]="models"
          optionLabel="name"
          (onChange)="modelSelected($event)"
        ></p-dropdown>
      </div>
    </div>
  </div>
  <div *ngIf="models !== null">
    <div *ngIf="selectedModel !== null" class="model-tests">
      <div class="model-test-header p-grid">
        <div class="p-col-1">
          <span>Operation</span>
        </div>
        <div class="p-col-4">
          <span>TEST</span>
        </div>
        <div class="p-col-4">
          <span>RESPONSE</span>
        </div>
      </div>
      <div *ngIf="testPhase > 0" class="model-test-line p-grid">
        <div class="p-col-1">
          <span>List</span>
        </div>
        <div class="p-col-4">
          <button pButton type="button" label="Test List" class="ui-button-success" (click)="doListTest()"></button>
        </div>
        <div class="p-col-4">
          <span *ngIf="listTestResult === null">Not Tested</span>
          <span *ngIf="listTestResult !== null">{{ listTestResultText }}</span>
        </div>
      </div>
      <div *ngIf="testPhase > 1" class="model-test-line p-grid">
        <div class="p-col-1">
          <span>Get</span>
        </div>
        <div class="p-col-4">
          <button pButton type="button" label="Test Get" class="ui-button-success" (click)="doGetTest()"></button>
        </div>
        <div class="p-col-4">
          <span *ngIf="getTestResult === null">Not Tested</span>
          <span *ngIf="getTestResult !== null">{{ getTestResultText }}</span>
        </div>
      </div>
      <div *ngIf="testPhase > 2" class="model-test-line p-grid">
        <div class="p-col-1">
          <span>Create</span>
        </div>
        <div class="p-col-4">
          <button pButton type="button" label="Test Create" class="ui-button-success" (click)="doCreateTest()"></button>
        </div>
        <div class="p-col-4">
          <span *ngIf="createTestResult === null">Not Tested</span>
          <span *ngIf="createTestResult !== null">{{ createTestResultText }}</span>
        </div>
      </div>
      <div *ngIf="testPhase > 3" class="model-test-line p-grid">
        <div class="p-col-1">
          <span>Update</span>
        </div>
        <div class="p-col-4">
          <button pButton type="button" label="Test Update" class="ui-button-success" (click)="doUpdateTest()"></button>
        </div>
        <div class="p-col-4">
          <span *ngIf="updateTestResult === null">Not Tested</span>
          <span *ngIf="updateTestResult !== null">{{ updateTestResultText }}</span>
          <span *ngIf="listTestResult && listTestResult.length === 0">Do list test first!</span>
        </div>
      </div>
      <div *ngIf="testPhase > 4" class="model-test-line p-grid">
        <div class="p-col-1">
          <span>Delete</span>
        </div>
        <div class="p-col-4">
          <button pButton type="button" label="Test Delete" class="ui-button-success" (click)="doDeleteTest()"></button>
        </div>
        <div class="p-col-4">
          <span *ngIf="deleteTestResult === null">Not Tested</span>
          <span *ngIf="deleteTestResult !== null">{{ deleteTestResultText }}</span>
          <span *ngIf="listTestResult && listTestResult.length === 0">Do list test first!</span>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #nouser>
  <div class="no-user">
    You are being signed in and details fetched from the api.
  </div>
</ng-template>
<ng-template #nosuperuser>
  <div class="no-user superuser-container">
    Superuser is being signed in...
  </div>
</ng-template>
